[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/jc00ke/taglist.vim.git
[submodule "bundle/railscasts/colors"]
	path = bundle/railscasts/colors
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/fuzzyfinder_textmate"]
	path = bundle/fuzzyfinder_textmate
	url = https://github.com/jonuts/fuzzyfinder_textmate.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = https://github.com/jc00ke/mustache.vim.git
[submodule "bundle/DoxygenToolkit"]
	path = bundle/DoxygenToolkit
	url = https://github.com/mrtazz/DoxygenToolkit.vim.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/oscarh/vimerl.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/jekyll"]
	path = bundle/jekyll
	url = https://github.com/csexton/jekyll.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/nvie/vim-pyflakes.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/nvie/vim-pep8.git
[submodule "bundle/py-unit"]
	path = bundle/py-unit
	url = https://github.com/nvie/vim-pyunit.git
[submodule "bundle/blackboard-theme"]
	path = bundle/blackboard-theme
	url = https://github.com/nelstrom/vim-blackboard.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/mrtazz/molokai.vim.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete.git
[submodule "bundle/rainbow-parenthesis"]
	path = bundle/rainbow-parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthsis-Bundle.git
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/python"]
	path = bundle/python
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/indent-python"]
	path = bundle/indent-python
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/mtvee/vim-autoclose.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
