[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/mrtazz/molokai.vim.git
[submodule "bundle/simplenote"]
	path = bundle/simplenote
	url = https://github.com/mrtazz/simplenote.vim.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = https://github.com/juvenn/mustache.vim.git
